<h1>Liste des magasins</h1>
<% @shops.each do |shop| %>
  <h2><%= shop.name %></h2>
  <p>Consulter tous les horaires <%= link_to "ici", shop_path(shop) %></p>
  <div data-controller="schedule" data-schedule-index-value="<%= shop.id%>" data-schedule-target="div" style="display: flex; justify-content: space-around; width: 400px">
    <p>Voir l'horaire d'un jour en particulier</p>
    <input data-schedule-target="day" type="text" placeholder="Monday">
    <button data-action="click->schedule#show">valider</button>
  </div>
<% end %>

<h2>Nos magasins en image</h2>
<div data-controller="slideshow">
  <button data-action="click->slideshow#previous">previous</button>
  <button data-action="click->slideshow#next">next</button>
  <!-- click est l'event, slideshow le controller et next l'action -->
  <div data-slideshow-target="slide"><%= image_tag "shop_one.jpg", width: 300 %></div>
  <div data-slideshow-target="slide"><%= image_tag "shop_two.jpg", width: 300  %></div>
  <div data-slideshow-target="slide"><%= image_tag "shop_three.jpg", width: 300  %></div>
</div>
