<h1>Modifier l'horaire du <%= @schedule.day %> du magasin <%= @shop.name %></h1>

<%= simple_form_for(@schedule) do |f| %>
  <%= f.input :day, as: :hidden, value: @schedule.day %>
  <%= f.input :closed %>
  <%= f.input :opening, discard_day: true, discard_month: true, discard_year: true, include_blank: true %>
  <%= f.input :closing, discard_day: true, discard_month: true, discard_year: true, include_blank: true %>
  <%= f.input :midday_closing, discard_day: true, discard_month: true, discard_year: true, include_blank: true  %>
  <%= f.input :midday_opening, discard_day: true, discard_month: true, discard_year: true, include_blank: true %>
  <%= f.association :shop, as: :hidden, value: @schedule.shop_id %>
  <%= f.submit "Valider les modifications" %>
<% end %>
